%h1== Edit #{h @group.name}

= error_messages_for @group

= form_for(@group, :action => resource(@group)) do
  %p
    = text_field :name, :label => 'Name'
    = submit "Update"

= link_to 'Show', resource(@group)
|
= link_to 'Back', resource(:groups)
