%h1
  Groups controller, index action
%table
  %tr
    %th Name
  - for group in @groups
    %tr
      %td= group.name
      %td
        = link_to 'Show', resource(group)
      %td
        = link_to 'Edit', resource(group, :edit)

= link_to 'New', resource(:groups, :new)

= will_paginate @groups
