%h1== Profile for #{h @user.login}
= error_messages_for @user

= form_for(@user, :action => resource(@user)) do
  %p
    = text_field :email, :label => 'email'
  %p
    = submit "Update"

= link_to 'Show', resource(@user)
|
= link_to 'Back', resource(:users)
