%h1 Sign Up


= error_messages_for @user

= form_for(@user, :action => resource(:users) ) do
  %p
    = text_field :login, :label => 'username'
    %br
    = text_field :email, :label => 'email'
    %br
    = password_field :password, :label => 'password'
    %br
    = password_field :password_confirmation, :label => 'confirm password'
  %p
    = submit "Sign up!"

= link_to 'Back', resource(:users)
