-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%h1== Delete #{@document.title}

Are you sure you want to delete this document?

= error_messages_for :document

= form_for(@document, :action => resource(group, @category, @document), :method => :delete) do
  %p
    = submit "Yes, I'm sure"

= link_to 'Back', resource(group, @category, @document)
