-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%h1== Edit #{@document.title}

= error_messages_for @document

= form_for(@document, :action => resource(group, @category, @document)) do
  %p
    = text_field :title, :label => 'Title', :size => 75
  %p
    ~ text_area :body, :label => 'Body', :rows => 20, :cols => 90
  %p
    = submit "Update"

= link_to 'Show', resource(group, @category, @document)
|
= link_to 'Back', resource(group, @category, :documents)
