%h1== #{h @group.name} Documents

%table
  %tr
    %th Title
  %tr
  - for document in @documents
    %tr
      %td
        = link_to h(document.title), resource(@group, document)
      %td
        = link_to 'Edit', resource(@group, document, :edit)
      %td
        = delete_button resource(@group, document)

%p
  = link_to 'New', resource(@group, :documents, :new)
  %br
  = link_to "Back to #{h @group.name}", resource(@group)
