%h1== New doc for #{@category.name}

-# TODO replace group with @category.group when DM works
- @group = Group.get @category.group.id

= error_messages_for @document

= form_for(@document, :action => resource(@group, @category, :documents) ) do

  %p
    = text_field :title, :label => 'Title', :size => 75
  %p
    ~ text_area :body, :label => 'Body', :rows => 20, :cols => 90

  %p
    = submit "Create"

= link_to 'Back', resource(@group, @category, :documents)
