%h1== New doc for #{h @group.name}

= error_messages_for @document

= form_for(@document, :action => resource(@group, :documents) ) do
  = partial :form

  %p
    = submit "Create"

= link_to 'Back', resource(@group, :documents)
