%h1= @version.title
%p
  %i== edited by #{User.get(@version.user_id).login} #{show_time_ago @version.updated_at}

%p
  :textile
    #{@version.body}

= partial 'common/versions', :model => @document

-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

= link_to 'Edit',  resource(group, @category, @document, :edit)
|
= link_to 'Back', resource(group, @category, :documents)
