%h1== Edit #{h(@category.name)}

= error_messages_for @category

= form_for(@category, :action => resource(@group, @category)) do
  %p
    = text_field :name, :label => 'Name'
    = submit "Update"

= link_to 'Show', resource(@group, @category)
|
= link_to 'Back', resource(@group, :categories)
