%h1== Categories for #{@group.name}

%table
  %tr
    %th Name
  - for category in @categories
    %tr
      %td= category.name
      %td
        = link_to 'Show', resource(@group, category)
      %td
        = link_to 'Edit', resource(@group,  category, :edit)

= link_to 'New', resource(@group, :categories, :new)
