%h1== Categories for #{h @group.name}

= partial :list, :categories => @categories

%p
  = link_to 'New', resource(@group, :categories, :new)
  %br
  = link_to "Back to #{h @group.name}", resource(@group)
