%h1== New category for #{h @group.name}


= error_messages_for @category

= form_for(@category, :action => resource(@group, :categories) ) do
  %p
    = text_field :name, :label => 'Name'
  %p
    = submit "Create"

= link_to 'Back', resource(@group, :categories)
