%h1
  = link_to h(@group.name), resource(@group)
%h2
  &= @category.name

%ul
  %li= link_to 'Documents', resource(@group, @category, :documents)
  %li= link_to 'Artifacts', resource(@group, @category, :artifacts)

= link_to 'Edit',  resource(@group, @category, :edit)
|
= link_to 'Back', resource(@group, :categories)
