%h1
  = @category.name

%p= link_to 'Documents', resource(@group, @category, :documents)
%p= link_to 'Artifacts', resource(@group, @category, :artifacts)

= link_to 'Edit',  resource(@group, @category, :edit)
|
= link_to 'Back', resource(@group, :categories)
