%li.column
  %p
    %a.pin{:href => '#'} pin
    %a.close{:href => '#'} close

  %h1
    = link_to h(@group.name), resource(@group)
  %h2
    &= @category.name

  %ul
    %li= link_to 'Documents', resource(@group, @category, :documents), :title => "#{@category.name}_docs"
    %li= link_to 'Artifacts', resource(@group, @category, :artifacts), :title => "#{@category.name}_artifacts"