%h1= show_diff(@version.title, @artifact.title)

= show_diff(@version.description, @artifact.description)

%p
  == attachment from version #{params[:version]}:
  Not supported yet.
  %br
  attachment from current:
  = link_to @artifact.attachment.original_filename, @artifact.attachment.url

= partial 'common/versions', :model => @artifact

= link_to 'Back', resource(@group, @artifact)
