%h1== Artifacts in #{h @group.name}

%table
  %tr
  - for artifact in @artifacts
    %tr
      %td
        = link_to 'Show', resource(@group, artifact)
      %td
        = link_to 'Edit', resource(@group, artifact, :edit)

%p
  = link_to 'New', resource(@group, :artifacts, :new)
  %br
  = link_to "Back to #{h @group.name}", resource(@group)
