%h1== Artifacts in #{h @category.name}

-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%ul.artifacts
  - for artifact in @artifacts
    %li
      = link_to artifact.title, resource(group, @category, artifact)
      = link_to 'Edit', resource(group, @category, artifact, :edit)

%p
  = link_to 'New', resource(group, @category, :artifacts, :new)
  %br
  = link_to "Back to #{h @category.name}", resource(group, @category)
