%h1== New artifact for #{@group.name}

= error_messages_for @artifact

= form_for(@artifact, { :action => resource(@group, :artifacts), :multipart => true }) do
  %p
    = text_field :title, :label => 'Title'
    %br
    = text_field :description, :label => 'Description'
    %br
    = file_field :name => 'attachment'
    %br
    = submit "Create"

= link_to 'Back', resource(@group, :artifacts)
