%h1== show #{@artifact.title}

- #TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%p= @artifact.description

%p= link_to @artifact.title, @artifact.attachment.url

= partial 'common/versions', :model => @artifact


= link_to 'Edit',  resource(group, @category,  @artifact, :edit)
|
= link_to 'Back', resource(group, @category, :artifacts)
