%h1== show #{@artifact.title}

%p= @artifact.description

%p= link_to @artifact.title, @artifact.attachment.url

= partial 'common/versions', :model => @artifact


= link_to 'Edit',  resource(@group,  @artifact, :edit)
|
= link_to 'Back', resource(@group, :artifacts)
